modules = ["nodejs-20", "python-3.12", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Back End APIs"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Metric Imperial Converter"

[[workflows.workflow]]
name = "Back End APIs"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd back-end-apis && npm start"
waitForPort = 3000

[[workflows.workflow]]
name = "Metric Imperial Converter"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd information-security/metric-imperial-converter && npm start"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 34267
externalPort = 4200

[[ports]]
localPort = 34869
externalPort = 3001

[[ports]]
localPort = 35503
externalPort = 3002

[[ports]]
localPort = 45897
externalPort = 3003

[[ports]]
localPort = 46827
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "back-end-apis/server.js"]
