modules = ["nodejs-20", "python-3.12", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Back End APIs"

[[workflows.workflow]]
name = "Back End APIs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd back-end-apis && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36895
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "back-end-apis/server.js"]
